@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 150 11% 95%;
    --foreground: 210 10% 23%;
    --card: 0 0% 100%;
    --card-foreground: 210 10% 23%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 10% 23%;
    --primary: 194 53% 64%;
    --primary-foreground: 210 40% 98%;
    --secondary: 150 11% 90%;
    --secondary-foreground: 210 10% 23%;
    --muted: 150 11% 85%;
    --muted-foreground: 210 10% 40%;
    --accent: 198 23% 46%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 150 11% 88%;
    --input: 150 11% 88%;
    --ring: 194 53% 64%;
    --chart-1: 194 53% 64%;
    --chart-2: 198 23% 46%;
    --chart-3: 194 30% 50%;
    --chart-4: 198 30% 60%;
    --chart-5: 194 40% 70%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 210 10% 10%;
    --foreground: 150 11% 95%;
    --card: 210 10% 15%;
    --card-foreground: 150 11% 95%;
    --popover: 210 10% 10%;
    --popover-foreground: 150 11% 95%;
    --primary: 194 53% 64%;
    --primary-foreground: 210 10% 15%;
    --secondary: 210 10% 20%;
    --secondary-foreground: 150 11% 95%;
    --muted: 210 10% 25%;
    --muted-foreground: 150 11% 80%;
    --accent: 198 23% 46%;
    --accent-foreground: 150 11% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 25%;
    --input: 210 10% 25%;
    --ring: 194 53% 64%;
    --chart-1: 194 53% 64%;
    --chart-2: 198 23% 46%;
    --chart-3: 194 40% 50%;
    --chart-4: 198 35% 65%;
    --chart-5: 194 50% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
